<?xml version="1.0" ?>
<!DOCTYPE config SYSTEM "config.dtd" >
<config>
  <broker host="127.0.0.1" port="6379" db="0" key="logstash-http" />
  <logfiles>
    <logfile vhost="local3" path="/var/log/local3.log" prev="/var/log/local3.log.1" type="http"/>
    <logfile vhost="local4" path="/var/log/local4.log" prev="/var/log/local4.log.1" type="http"/>
  </logfiles>
</config>



