/home/remi/github/logtail/logs/local*.log {
	create 0666 remi remi
        size 1
        missingok
        rotate 1
        notifempty
        sharedscripts
        postrotate
		invoke-rc.d rsyslog rotate > /dev/null
        endscript
}

